<h4>
    <%= obj["Name"] %>
</h4>             
<p>
    <strong>Location : </strong>
    <%= obj["Location"] %><br />

    <% if (obj["URL"]) { %>
        <a href='<%= obj["country"] %>' target='_blank'>Website</a>
    <% } %>
</p>

<% if (obj["Region"]) { %>
    <p>
        <strong>Region : </strong>
        <%= obj["Region"] %>
    </p>
<% } %>

<% if (obj["Bottom Depth [m]"]) { %>
    <p>
        <strong>Exploitation : </strong>
        <%= obj["exploitation"] %>
    </p>
<% } %>
