<tr>                  
    <td>
        <font size=2><%= obj["Name"] %></font>
    </td>                  
    <td>
        <font size=2><%= obj["type"] %></font>
    </td> 
    <td>
        <font size=2><%= obj["Country"] %></font>
    </td>
    <td>
        <font size=2><%= obj["Region"] %></font>
    </td>   
    <td>
       <font size=2> <%= obj["Location"] %></font>
    </td>                 
    <td>
        <font size=2><%= obj["depth_m"] %></font>
    </td>
    <td>
        <font size=2><%= obj["min_dist_km"] %></font>
    </td>
    <td>
        <font size=2><%= obj["surrounding_seabed"] %></font>
    </td>
    <td>
        <font size=2><%= obj["reef_typology"] %></font>
    </td>
    <td>
        <font size=2><%= obj["exploitation"] %></font>
    </td>

</tr>
